<app-modal [titulo]="titulo()" (cerrar)="cancelar.emit()">
  <label class="app-dialogo-sistema__campo">
    Nombre
    <input #nombreCampo type="text" class="app-dialogo-sistema__input" [value]="nombreInicial()" autofocus />
  </label>

  @if (mostrarTipo()) {
    <fieldset class="app-dialogo-sistema__tipo">
      <legend>Tipo</legend>
      <label>
        <input
          type="radio"
          name="tipo"
          [checked]="tipoSeleccionado() === 'recepcion'"
          (change)="tipoSeleccionado.set('recepcion')"
        />
        Recepción
      </label>
      <label>
        <input
          type="radio"
          name="tipo"
          [checked]="tipoSeleccionado() === 'defensa'"
          (change)="tipoSeleccionado.set('defensa')"
        />
        Defensa
      </label>
    </fieldset>

    <fieldset class="app-dialogo-sistema__tipo">
      <legend>Equipo</legend>
      @for (equipo of equipos; track equipo) {
        <label>
          <input
            type="radio"
            name="equipo"
            [checked]="equipoSeleccionado() === equipo"
            (change)="equipoSeleccionado.set(equipo)"
          />
          {{ nombreEquipo[equipo] }}
        </label>
      }
    </fieldset>
  }

  <ng-container acciones>
    <button type="button" class="app-boton app-boton--secundario" (click)="cancelar.emit()">Cancelar</button>
    <button type="button" class="app-boton app-boton--primario" (click)="emitirConfirmacion(nombreCampo.value)">
      Confirmar
    </button>
  </ng-container>
</app-modal>
